* {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

textarea:focus,
input:focus {
	outline: none;
	border: none;
}

// @font-face {
// 	font-family: "Open Sans";
// 	src: url("../fonts/Quicksand/quicksand-v30-latin-regular.woff2") format("woff2"),
// 		url("../fonts/Quicksand/quicksand-v30-latin-regular.woff") format("woff");
// }

html {
	height: 100%;
	top: 0;
	left: 0;
	outline: none;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

body {
	position: fixed;
	height: 100vh;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #eeeeee;
	background-size: cover;
	background-position: center;
	letter-spacing: 2px;
	color: black;
	font-family: "GeoSansLight", sans-serif;
	overflow: hidden;
}

section.header {
	width: 100%;
	margin: auto;
	padding: 20px;
	justify-content: center;
	align-items: center;

	.logo {
		justify-content: center;
		display: flex;

		>img {
			display: block;
			margin: 16px;
			width: 64px;
			height: auto;

			@media (height < 1000px) {
				width: 40px;
				margin: 0;
			}
		}
	}

	.title {
		display: inline-flex;

		>svg {
			width: 16px;
			height: auto;
			margin: 8px;
			height: auto;
			cursor: pointer;
		}

		>h3 {
			font-size: 64px;

			@media (height < 1000px) {
				font-size: 40px;
				margin: 0;
			}
		}
	}
}

section.description {
	margin: auto;
	display: inline-block;
	justify-content: center;
	height: 40%;

	.center {
		height: 20%;
		justify-content: center;
		align-items: center;

		.message {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			padding: 16px 32px;
			border-radius: 16px;
			background: #eeeeee;
			box-shadow: 17px 17px 34px #e0e0e0,
				-17px -17px 34px #fcfcfc;

			@media (height < 1000px) {
				margin-top: 0;
			}
		}

		.descriptionContenu {
			height: 300px;
			padding: 32px;

			@media (height < 1000px) {
				height: 200px;
				padding: 16px;
			}

			.settings {
				display: inline-flex;
				margin: 64px 8px;
				padding: 24px 32px;
				border-radius: 16px;
				background: #eeeeee;
				box-shadow: 5px 5px 10px #c6c6c6,
					-5px -5px 10px #ffffff;
				transition: background-color 1s ease-out;

				&:hover {
					cursor: pointer;
					background: linear-gradient(145deg, #d6d6d6, #ffffff);
					box-shadow: 5px 5px 10px #c6c6c6,
						-5px -5px 10px #ffffff;
				}

				@media (height < 1000px) {
					font-size: 8px;
					margin: 32px 8px 64px 8px;
					padding: 24px 32px;
				}
			}
		}
	}
}

section.timer {
	display: inline-block;
	justify-content: center;
	padding: 32px;

	@media (height < 1000px) {
		font-size: 40px;
		padding-bottom: 0;
	}

	.clock {
		display: flex;
		margin: 24px;

		@media (height < 1000px) {
			font-size: 40px;
			padding-bottom: 0;
			margin: 0 24px 0 24px;
		}

		.clockCase {
			font-size: 48px;
			margin: 16px;
			padding: 10px;
			display: flex;
			border-radius: 16px;
			background: #eeeeee;
			box-shadow: 17px 17px 34px #e0e0e0,
				-17px -17px 34px #fcfcfc;
			width: 120px;
			height: 150px;

			@media (height < 1000px) {
				width: 50px;
				height: 100px;
				font-size: 32px;
			}
		}
	}
}

section.todolist {
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
	padding: 10px;
	overflow: hidden;

	>h1 {
		@media (height < 1000px) {
			font-size: 20px;
		}
	}

	.clear {
		display: inline-flex;
		padding: 10px;
		width: 20px;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 16px;
		background: #eeeeee;
		box-shadow: 5px 5px 10px #c6c6c6,
			-5px -5px 10px #ffffff;

		&:hover {
			cursor: pointer;
			background: linear-gradient(145deg, #d6d6d6, #ffffff);
			box-shadow: 5px 5px 10px #c6c6c6,
				-5px -5px 10px #ffffff;
		}

		>svg {
			width: 20px;
			height: auto;

			@media (height < 1000px) {
				width: 15px;
			}
		}
	}

	.newTask {
		display: flex;

		>input {
			padding: 10px 50px 10px 20px;
			border: none;
			text-align: left;
			width: 300px;
			height: 30px;
			margin: 15px;
			border-radius: 16px;
			background: #e6e6e6;
			box-shadow: inset 5px 5px 10px #c8c8c8,
				inset -5px -5px 10px #ffffff;

			@media (height < 1000px) {
				font-size: 10px;
				padding: 5px 45px 5px 15px;
			}
		}

		.addButton {
			>svg {
				display: flex;
				margin-left: -48px;
				width: 16px;
				height: auto;

				&:hover {
					cursor: pointer;
				}

				@media (height < 1000px) {
					margin-left: -50px;
				}
			}
		}
	}
}


div.todo {
	align-items: start;
	display: inline-flex;
	justify-content: start;
	text-align: left;
	margin: 4px;
	width: 300px;

	>p {
		margin-left: 30px;
		text-align: left;
	}

	.click {
		width: 20px;
		height: 20px;

		&:hover {
			cursor: pointer;
		}

		>svg {
			align-items: start;
			width: 20px;
			height: 20px;
		}
	}
}

div.list {
	height: 25vh;
	width: 300px;
	text-align: left;
	justify-content: center;
	align-items: center;
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;

	::-webkit-scrollbar {
		width: 0;
		background: transparent;
	}

	@media (height < 1000px) {
		height: 18vh;
		font-size: 14px;
	}
}